.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  margin: 100px 15px !important;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Button {
  width: 150px;
}

.Paper {
  margin: 25px;
  padding: 10px 15px;
  min-height: 250px;
  width: 150px;
}

.Notice {
  margin-top: 50px;
}

.App-link {
  color: #61dafb;
}
